{% extends 'layout.html' %}
        
{% block body  %}


    <div class="jumbotron p-3 p-md-4 text-white bg-dark">

        <div class="col-md-6 px-0">
            <h2>Finished training</h2>
            <p class="lead my-3">The model is trained and ready for test</p>
        </div>
    </div>

    <div style="height: 300px;"></div>

    <div class="settings-box" id="settings-box" data-aos="fade-up">
        <h2 class="settings-box-title">When your'e ready click to begin testing </h2>
        <form class="form-signin", method="POST">
          <button class="btn btn-lg btn-primary btn-block" id="sub-bt" type="Submit">TEST</button>
        </form>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 2000,
        once: true,
      });
    </script>


{% endblock %}
